build/
rna_small_parsimony/
**/.snakemake/
rnadist.egg-info/
Rfam.seed
*pyc
experiments/rf_small_parsimony/results/
experiments/rf_small_parsimony/benchmarks/
experiments/rf_small_parsimony/resources/
experiments/rf_small_parsimony/.snakemake
*.tab
activate/
bin/
lib/
lib64
pyvenv.cfg
README.md
